fastapi
uvicorn
# Versiones específicas para compatibilidad con chatterbox-tts
torch==2.6.0
torchaudio==2.6.0
numpy<1.26.0
pillow<12.0
torchvision==0.21.0
chatterbox-tts>=0.1.6
python-multipart
python-dotenv
requests
huggingface_hub
Pathlib
# AudioGen / Audiocraft dependencies
audiocraft
av
omegaconf
hydra-core
einops
julius
diffq
transformers
sentencepiece
num2words
tqdm
spacy
flashy
demucs
encodec
torchmetrics
hydra_colorlog
dora-search
colorlog
lameenc
openunmix
lightning-utilities
pytorch-lightning
